@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  color: #eaeaea;
  overflow-x: hidden; /* ✅ sağa taşmayı öldürür */
}

/* Dark scrollbar (Chrome, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}
