@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #eaeaea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  color-scheme: dark;
  margin: 0;
}
